@use '../variables' as *;

.form-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 

  button {
    padding: 0.8rem;
    color: white;
    border: none;
    width: 100%;
    margin-top: 1rem;
    background-color: transparent !important;

}
#btn-registrar{
  background-color: $primary !important;
}
  
  .formulario {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px; 
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.3rem;
    box-sizing: border-box;
  }

  button {
    padding: 0.8rem;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;

    &:disabled {
      background-color: #aaa;
      cursor: not-allowed;
    }
  }

  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px;
}
