@use '../variables' as *;

$form-background-color: $sextiary-color;
$form-text-color: $primary;
$form-error-color: red;

.form-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; 

  .formulario {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    max-width: 500px;
    background-color: $form-background-color;
    padding: 2rem;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    @media (max-width: 768px) {
      padding: 1.5rem;
    }
    @media (max-width: 480px) {
      padding: 1rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid $primary;
    border-radius: 5px;
    margin-top: 0.3rem;
    box-sizing: border-box;
    background-color: #fff;
    color: $primary;
    @media (max-width: 480px) {
      padding: 0.6rem;
    }

    &:focus {
      border-color: darken($primary, 10%);
      outline: none;
      box-shadow: 0 0 5px rgba($primary, 0.5);
    }
  }

  button {
    padding: 0.8rem;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;

    &:disabled {
      background-color: #aaa;
      cursor: not-allowed;
    }

    &:first-of-type {
      margin-top: 2rem;
    }
    @media (max-width: 480px) {
      padding: 0.6rem;
    }
  }

  .error {
    color: $form-error-color;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }

  #btn-login-redirect {
    background-color: transparent;
    color: $primary;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    width: auto;
    margin-top: 1rem;
    &:hover {
      color: darken($primary, 10%);
    }
  }
}

.close-button {
  background-color: transparent !important;
  border: none !important;
  font-size: 1.5rem !important;
  color: $background-color !important;
  cursor: pointer !important;
  margin: 0rem -1rem -1rem -1rem;
}
