@use '../variables' as *;

.sec1 {
  width: 100% !important; 
  padding: 4rem 0; 

  .hero-content {
    opacity: 0;
    animation: fadeInLeft 0.8s forwards;
    background-color: #f8f9fa; 
    padding: 3rem 2.5rem;
    border-radius: 12px; 
    margin-bottom: 2rem; 
  }

  .typing-effect {
    position: relative;
    margin-bottom: 1.5rem; 
    
    .cursor {
      display: inline-block;
      margin-left: 2px;
      animation: blink 0.7s infinite;
    }
  }

  .animated-x {
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.5s ease-in-out;
  }
  
  .animated-x.animate {
    transform: rotate(10deg);
  }

  .contact-form-container {
    background-color: white;
    border-radius: 12px;
    padding: 4rem 3rem; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 2rem; 

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    h3 {
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  form {
    padding: 0 !important; 
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width: 767px) {
    .contact-form-container {
      margin-top: 2rem;
      padding: 2rem; // Ajustar el padding para pantallas pequeñas
    }
  }
}

#box {
  margin-left: 2rem;
}