@use '../variables' as *;

.sec3 {
  background: linear-gradient(
    to right, 
    $secondary-color 50%, 
    $sextiary-color 50%
  );
  padding: 2rem;
  color: white;
  position: relative;
  overflow: hidden;

  .Sphre {
    border-radius: 20rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: $sextiary-color;
    width: 20rem;
    height: 20rem;
  }

  .Sphre {
    border-radius: 20rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: $sextiary-color;
    width: 20rem;
    height: 20rem;
  }

  .Sphre2 {
    display: grid;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    border-radius: 20rem;
    background-color: $secondary-color;
    width: 20rem;
    height: 20rem;
  }

  


}
