@use 'variables' as *;
$scroll-o: $primary;
$scroll-i: $secondary;
body{
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    width: 100% !important;
    

  &::-webkit-scrollbar{
    width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
    background: $scroll-i;
    }
    &::-webkit-scrollbar-thumb{
    background-color: $scroll-o;
    border-radius: 0.5rem;
    }
  }


  section {        
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    text-align: center !important;
    flex-wrap: wrap !important;
    margin: auto !important;
    height: 90vh !important;
  }



  h1{
    display: flex;
    justify-content: center !important;
    width: 100%;
  }

  #root{
    display: flex;
    width: 100% !important;
    flex-direction: column;

  }