$primary-color: #005187;
$secondary-color: #4d82bc;
$background-color: #fcffff;
$terciary-color: #210124;
$quartiry-color:#750D37

$primary: $primary-color;
$secondary: $secondary-color;
$body-bg: $background-color;