@use 'variables' as *;
@use 'responsive';
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary-color,
  $secondary: $secondary-color,
  $body-bg: $background-color,
);

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
}

.animated-line {
  height: 5px;
  background: linear-gradient(to right, rgba(0,0,0,0), $primary-color, rgba(0,0,0,0));
  animation: animateLine 5s linear infinite;
}

@keyframes animateLine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
